.chat__box {
  flex-basis: 70%;
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat__input-container {
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.chat__input {
  flex-basis: 80%;
  resize: none;
  padding: 5px 10px;
  height: 40px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #999999;
  flex: 1;
  border: none;
  background: rgba(0, 0, 0, .05);
  border-bottom: 1px solid rgba(0, 0, 0, .05);

  &:focus {
    outline: none;
  }
}

.chat__send {
  flex-basis: 20%;
  background-color: #2677a0;
  color: white;
  font-size: 12px;
  padding: 0 15px;
  margin: 0;
  width: 100%;
  border: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 18px;
  border-radius: 0 0 15px 0;

  &:active {
    transform: scale(0.95);
  }

  &:focus {
    outline: none;
  }
}

.chat__area {
  height: 100%;
  overflow-y: scroll;
}

.chat__list {
  padding: 0;
  margin: 10px 30px 0;

  .chat__item {
    list-style-type: none;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 40px;
    margin-bottom: 10px;
    text-align: start;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;

    &:hover > .item__controls {
      display: block;
    }

    .item__author {
      margin: 5px 0;
    }

    .item__text {
      margin: 0 0 5px;
      flex-basis: 90%;
    }
  }
}

.item__textarea {
  display: flex;
  flex-direction: column;
  flex-basis: 90%;
}

.item__controls {
  display: none;

  .item__btn {
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50%;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  #edit {
    background-image: url(../../../assets/image/edit.png);
  }

  #delete {
    background-image: url(../../../assets/image/delete.png);
  }
}


